body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #5aedd1;
  --footer: #284450;
  --footer2: #1c3641;
}

/* Hero */
#hero {
  background-image: url('../img/hero/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .col-6 {
  transition: 2s;
}
.drop-down {
  color: #fff;
  transition: 0.5s;
  background: var(--primary);
}
.drop-down:hover {
  color: var(--primary);
  background-color: #fff;
}
/* Hero End */

/* Jual */
.card-jual-bg {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-jual-bg:hover {
  background-color: var(--primary);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -10px;
}
.card-jual {
  text-decoration: none;
}
/* Jual End */

/* Dokter */
#dokter img {
  height: 100%;
  width: 100%;
}
.btn-dokter {
  background-color: var(--primary);
}
.btn-dokter:hover {
  border-color: var(--primary);
  background-color: #fff;
  color: var(--primary) !important;
}
/* Dokter End */

/* Obat */
#obat a {
  text-decoration: none;
}
#obat a .card {
  transition: 0.3s;
}
#obat a .card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Obat End */

/* Footer */
#footer {
  background-color: var(--footer);
}
/* Footer End */

@media only screen and (max-width: 491px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #hero .col-6 {
    width: 100%;
    height: 100%;
  }
  .drop-down {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer-2 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
}

/* CAARI DOKTER */
#cari-dokter .active {
  background-color: var(--primary);
  color: #fff !important;
}
#cari-dokter .tab-pane {
  background-color: #fff;
  color: #000 !important;
}
.card-dokter-bg {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#cari-dokter a {
  text-decoration: none;
}
/* CARI DOKTER END */
